body{

background-color:rgba(128, 188, 128,0.7);

}
.grid-container {

display: grid;
grid-gap: 2.5px;
grid-template-areas:


"main main"
"footer footer"
;

}

.grid-item{

margin:2.5% 2.5% 0.5% 2.5%;
text-align: center;

}

#heading{

font-size: 305%;

}


.main{

grid-area: main;

}

#choice-block{

display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
gap: 12.5%

}
#student-log-in{
font-size: 150%;
width:15%;
height:10em
}

#teacher-log-in{
font-size: 150%;
width:15%;
height:10em
}

.footer {

grid-area: footer;
font-size: 17%;
justify-content: space-between;
align-items: center;
color: black;

}
.footer a{

color: gold;

}

