
.grid-container {
margin:2.5% 2.5% 2.5% 2.5%;
display: grid;
grid-gap: 9%;
grid-template-areas:

"header header"
"main main"
"footer footer"
;

}

.grid-item{


margin:6.5% 2.5% 2.5% 2.5%;

/*border: solid 2.5px black;*/

}

.header{

grid-area: header;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}

#header-bg{

font-size: 100%;
width: 150%;
height: 5.5em;
text-align: center;

border: solid rgba(100, 98, 98);
color: white;
border-radius: 10% 65% 10% 65%;
background-color: rgba(0, 0, 0, 0.8);

}

.main{

grid-area: main;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;


}

#score-table {

font-size: 175%;

}


.footer {

grid-area: footer;
font-size: 17%;
justify-content: space-between;
align-items: center;
text-align: center;
color: black;

}
.footer a{

color: gold;

}

