body{background-color: rgba(129, 129, 129, 0.8);}

.grid-container {
    margin:2.5% 2.5% 2.5% 2.5%;

display: grid;

grid-template-areas:

"header header"
"student-side side-main"
"footer footer"
;

}

.grid-item{margin:6.5% 2.5% 2.5% 2.5%;}

#header-bg{

font-size: 100%;
width: 125%;
height: 5.5em;
text-align: center;

border: solid rgba(100, 98, 98);
color: white;
border-radius: 10% 65% 10% 65%;
background-color: rgba(0, 0, 0, 0.8);

}

.header{

grid-area: header;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}

.side-main{
grid-area: side-main;
text-align: center;
display: flex;
flex-direction: column;

background-color: rgba(129, 129, 129, 0.8);

}

#justify_grade_div{

display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;


}

.student-side {
grid-area: student-side;

background-color: rgba(129, 129, 129, 0.8);

}

.footer {

grid-area: footer;
font-size: 14%;
text-align: center;
justify-content: space-between;
align-items: center;
color: black;

background-color: rgba(129, 129, 129, 0.8);

}
.footer a{

color: gold;

}


button {

font-size: 95%;
width: 55%;
height:2.5em

}

