body{

background-color:rgba(188, 128, 128,0.7);

}
.grid-container {

display: grid;
grid-gap: 2.5px;
grid-template-areas:

"main main"
"footer footer"
;

}

.grid-item{

margin:10% 10% 3.5% 10%;
text-align: center;

}

.main{

grid-area: main;

}

#input-block
{

display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
gap: 12.5%

}

button {

font-size: 150%;
width:15%;
height:10em

}

.footer {

grid-area: footer;
font-size: 17%;
justify-content: space-between;
align-items: center;
color: black;

}
.footer a{

color: gold;

}

