body{

background-color:rgba(188, 128, 128,0.7);

}
.grid-container {

display: grid;
grid-gap: 2.5px;
grid-template-areas:

"main main"
"footer footer"
;

}

.grid-item{

margin:10% 10% 3.5% 10%;
text-align: center;

}

#heading{

font-size: 305%;

}


.main{

grid-area: main;

}

#input-block
{

display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
gap: 2.5%

}

#teacher_user_name{

border: solid 1.25px black;
margin:0.25%;
width:25%;
height:4em

}

#teacher_user_name::placeholder{font-size: 225%;}

#teacher_password{

border: solid 1.25px black;
margin:0.25%;
width:25%;
height:4em

}

#teacher_password::placeholder{font-size: 225%;}

#submit_btn{

border:solid 2.5px black;
border-radius: 5%;
font-size:205%

}

.footer {

grid-area: footer;
font-size: 17%;
justify-content: space-between;
align-items: center;
color: black;

}
.footer a{

color: gold;

}

